h2:where(.wp-block-heading) {
  padding-bottom: 0.5em;
  margin-block: 2em 1em;
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid var(--c-border);
}

.wp-block-code {
  padding: 1rem;
  overflow: auto;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.45;
  color: var(--c-text-base);
  background-color: var(--bgc-soft);
  border-radius: var(--rounded-sm);
}
