:root {
  scroll-padding-top: var(--header-height);

  --header-height: 64px;
  --c-muted: #595959;
  --c-text-body: #242424;
  --c-border: #767676;
  --c-primary: #f9a742fc;
  --c-secondary: #22a699;
  --c-tertialy: #f2be22;
  --c-white: #ffffff;
  --c-accent: #f24c3d;
  --rounded-sm: 4px;
  --rounded: 6px;
  --rounded-lg: 8px;
  --rounded-full: 999rem;
  --font-noto: "Noto Sans JP", sans-serif;
  --font-yugo: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "sans-serif";
}

/* stylelint-disable scss/operator-no-newline-after */
*,
::before,
::after {
  --clamp-root-font-size: 16;
  --clamp-slope: calc(
    (var(--clamp-max) - var(--clamp-min)) /
      (var(--clamp-viewport-max) - var(--clamp-viewport-min))
  );
  --clamp-y-axis-intersection: calc(
    var(--clamp-min) - (var(--clamp-slope) * var(--clamp-viewport-min))
  );
  --clamp-preffered-value: calc(
    var(--clamp-y-axis-intersection) * (1rem / var(--clamp-root-font-size)) +
      (var(--clamp-slope) * 100vi)
  );
  --clamp: clamp(
    calc(var(--clamp-min) * (1rem / var(--clamp-root-font-size))),
    var(--clamp-preffered-value),
    calc(var(--clamp-max) * (1rem / var(--clamp-root-font-size)))
  );

  font-size: var(--clamp);
}

html {
  scroll-behavior: smooth;
  background: #fbfbfb;
}

body {
  --clamp-viewport-min: 375;
  --clamp-viewport-max: 992;
  --clamp-min: 14;
  --clamp-max: 16;

  font-family: var(--font-noto);
  color: var(--c-text-body);
}

.container {
  width: min(100%, 1200px);
  padding-inline: 24px;
  margin: 0 auto;
}

h1 {
  font-size: var(--clamp);

  --clamp-min: 32;
  --clamp-max: 40;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  width: 100%;
  height: auto;
}
