.button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  max-width: 16rem;
  padding: 0.75rem 1rem 0.7rem;
  font-size: 1rem;
  letter-spacing: 0.075em;
  cursor: pointer;
  border-radius: var(--rounded);
  transition: background-color 0.2s ease-out;
}

.button > span {
  display: flex;
}

// Visual
.button--primary {
  justify-content: center;
  color: var(--c-text-white);
  background: var(--c-primary);
}

.button--primary:hover,
.button--primary:focus {
  background: var(--c-primary-hover);
}

.button--secondary {
  justify-content: center;
  color: var(--c-text-base);
  background: transparent;
  border: 1px solid;
}

.button--secondary:hover,
.button--secondary:focus {
  color: var(--c-text-white);
  background: var(--c-text-base);
}

// Size
.button--lg {
  max-width: 20rem;
  padding: 1rem 1.5rem 0.95rem;
  border-radius: var(--rounded-full);
}
