.card-archive {
  position: relative;
}

.card-archive__link {
  display: grid;
  gap: 12px;
}

.card-archive__thumbnail img {
  aspect-ratio: 4 / 3;
  object-fit: cover;
  transition: transform 0.3s ease;

  @include hover {
    transform: scale(1.1);
  }
}

.card-archive__thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: var(--rounded-sm);
}

.card-archive__title {
  font-weight: bold;

  @include line-clamp(3);
}
