.global-header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0 2rem;
  background: #ffffff4f;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 4px 0 rgb(218 218 218 / 35%);
}

.global-header__list {
  display: none;

  @include mq(md) {
    display: flex;
    gap: 28px;
    font-size: 14px;
  }
}

.global-header__list a {
  transition: 0.3s ease;

  @include hover {
    color: var(--c-primary);
    transition: 0.3s ease;
  }
}

.global-header__list a.is-current {
  color: var(--c-primary);
}
