.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding-inline: 2rem;
}

.header__inner {
  width: 100%;
  height: 100%;
}
