.archive-works {
  position: relative;
}

.archive-works__bg {
  padding: 70px 0 0;
}

.archive-works__inner {
  margin: 60px 0 0;
}

.archive-works__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 40px;
}

.archive-works__text {
  letter-spacing: 0.02em;
}

.archive-works__pagination {
  margin: 70px 0 0;
}
