.single-works {
  position: relative;
}

.single-works__bg {
  padding: 70px 0 0;
}

.single-works__inner {
  margin: 70px 0 0;
}

.single-works__title {
  font-weight: bold;
}

.single-works__thumbnail {
  width: 100%;
  margin: 32px 0 0;
}

.single-works__thumbnail img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 2;
  object-fit: cover;
  border-radius: var(--rounded-sm);
}

.single-works__content {
  margin: 52px 0 0;
}
